sww# Created by .ignore support plugin (hsz.mobi)
### Node template
# test
test

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

## Directory-based project format:
.idea

# vim temp file
.*.swp
